@model BodybuildingManager.Lib.ObjetVue.ObjetPoids
@{
    ViewData["Title"] = "Suivis du poids";
}
<center>
<h1>@ViewData["Title"]</h1>

<p>Veuillez indiquer votre poids et la date si le poids correspond à une autre date que maintenant :</p>
@using (Html.BeginForm("PeseePoids", "Poids", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
    <div class="poidstb">
        @Html.LabelFor(m => m.PoidsMaintenant.Kilogramme,"Poids (en Kg) :")
    </div>
    <div class="poidstb">
        @Html.TextBox("poidsKilo",Model.PoidsMaintenant.Kilogramme, new { id="poidsKilo",@type = "number",style = "width:100px", step="0.01" }) Kg
        @Html.ValidationMessageFor(m => m.PoidsMaintenant.Kilogramme)
    </div>
</div>
    <br>
    <div class="clear"></div>
    <div>
    <div class="datetb">
        @Html.LabelFor(m => m.PoidsMaintenant.DatePoids,"Date de la pesée :")
    </div>
    <div class="datetb">
        @Html.TextBox("datePesee",Model.DateMaintenant, "{0:yyyy-MM-ddTHH:mm:ss}", new{id="datePesee",@type="datetime-local"})
        @Html.ValidationMessageFor(m => m.PoidsMaintenant.DatePoids)
    </div>
</div>
    <div class="clear"></div>
    <br>
    <div><input class="postbutton" type="submit" value="Ajouter" /></div>
}

<br>
<br>
<div>
    Dernière année : @(Model.ListePoids.Where(x => x.DatePoids > DateTime.Now.AddYears(-1)).Average(x => x.Kilogramme)) Kg
    Dernier mois : @(Model.ListePoids.Where(x => x.DatePoids > DateTime.Now.AddMonths(-1)).Average(x => x.Kilogramme)) Kg
    Dernière semaine : @Model.ListePoids.Where(x => x.DatePoids > DateTime.Now.AddDays(-7)).Average(x => x.Kilogramme)) Kg
    Dernier jour : @Model.ListePoids.Where(x => x.DatePoids > DateTime.Now.AddDays(-1)).Average(x => x.Kilogramme)) Kg
</div>
<table class="table">
    <tr>
        <th>Poids</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

@foreach (BodybuildingManager.Models.Database.Poids poids in Model.ListePoids.OrderByDescending(p => p.DatePoids)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => poids.Kilogramme)Kg
        </td>
        <td>
            @poids.DatePoids.ToString("dd/MM/yyyy HH:mm")
        </td>
        <td>
            @Html.ActionLink("Supprimer", "SupprimerPoids", new { idPoids=poids.Id }, htmlAttributes: new { onclick = "return confirm ('Êtes-vous sûr de vouloir supprimer cette pesée ?');" })
        </td>
    </tr>
}
</table>
</center>