@model BodybuildingManager.Lib.ObjetMetier.Compte;
@{
    ViewData["Title"] = "Connexion";
}

<div class="text-center">
    <h1 class="display-4">Connexion</h1>
    @if (string.IsNullOrEmpty(ViewBag.Message) == false)
    {
        <div style="background-color: #b94a48;width: auto;border: #da4f49;border-style: solid;color: #fff;">
            @ViewBag.Message
        </div>
    }
    <p>Veuillez vous connecter pour pouvoir utiliser BodybuildingManager :</p>
</div>
<center>
    @using (Html.BeginForm("Connexion", "Identification", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            <div class="usernametb">
                @Html.LabelFor(m => m.Email,"E-mail / Nom de compte :")
            </div>
            <div class="usernametb">
                @Html.TextBoxFor(m => m.Email, new { style = "width:250px" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <br>
        <div class="clear"></div>
        <div>
            <div class="pwtb">
                @Html.LabelFor(m => m.MotDePasse,"Mot de passe :")
            </div>
            <div class="pwtb">
                @Html.PasswordFor(m => m.MotDePasse, new { style = "width:250px" })
                @Html.ValidationMessageFor(m => m.MotDePasse)
            </div>
        </div>
        <div class="clear"></div>
        <br>
        <div><input class="loginbutton btn btn-success" type="submit" value="Connexion" /></div>

    }
    <br>
    <br>
    @Html.ActionLink("Vous n'avez pas de compte et souhaitez vous inscrire ? Cliquez ici", "Inscription", "Identification")
</center>
