@model BodybuildingManager.Lib.ObjetMetier.Compte;
@{
    ViewData["Title"] = "Inscription";
}

<div class="text-center">
    <h1 class="display-4">Inscription</h1>
    <p>Veuillez créer un compte pour pouvoir utiliser BodybuildingManager, cela vous permettra d'avoir accès à toutes les fonctionnalités :</p>
</div>
<center>
@using (Html.BeginForm("Inscription", "Identification", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div>
            <div class="usernametb">
                @Html.LabelFor(m => m.Email,"E-mail / Nom de compte :")
            </div>
            <div class="usernametb">
                @Html.TextBoxFor(m => m.Email, new { style = "width:250px" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <br>
        <div class="clear"></div>
        <div>
            <div class="pwtb">
                @Html.LabelFor(m => m.MotDePasse,"Mot de passe :")
            </div>
            <div class="pwtb">
                @Html.PasswordFor(m => m.MotDePasse, new { style = "width:250px" })
                @Html.ValidationMessageFor(m => m.MotDePasse)
            </div>
        </div>
        <div class="clear"></div>
        <br>
        <div><input class="loginbutton" type="submit" value="S'inscrire" /></div>
        
}
</center>
