@model BodybuildingManager.Lib.ObjetVue.ObjetModifierSeance
@{
    ViewData["Title"] = "Modification d'une séance";
}

<center>

    <h1>@ViewData["Title"]</h1>

    @using (Html.BeginForm("ModifierSeance", "Seance", FormMethod.Post)){
        <p>Nom de la séance :</p>
        @Html.TextBox("seanceNom", value:Model.Seance.Nom, htmlAttributes: new { required = true })

        <div>
            @Html.Hidden("idSeance",Model.Seance.Id)
            <input class="createButton" type="submit" value="Modifier" />
        </div>
    }

    <h2>Exercices de la séance :</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Position</th>
                <th>Nombre de séries</th>
                <th>Nombre de répétitions</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercice in Model.ListeExerciceSeance)
            {
                <tr>
                    <td>@exercice.Exercice.Nom</td>
                    <td>@Html.TextBox("positionExercice", exercice.Position, new {type="number", step="1"})</td>
                    <td>@Html.TextBox("nombreSerieExercice", exercice.NombreSerie, new {type="number", step="1"})</td>
                    <td>@Html.TextBox("nombreRepetitionExercice", exercice.NombreRepetition, new {type="number", step="1"})</td>
                    <td>
                        @using (Html.BeginForm()){
                            @Html.Hidden("idExerciceSeance",exercice.Id)
                            
                            <input class="deleteButton" type="submit" value="Modifier" formaction="@Url.Action("ModifierExerciceSeance")" />
                            <input class="deleteButton" type="submit" value="Supprimer" formaction="@Url.Action("SupprimerExerciceSeance")"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Exercices disponibles pour la séance :</h2>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Position</th>
            <th>Nombre de séries</th>
            <th>Nombre de répétitions</th>
            <th>Actions</th>
        </tr>

        @foreach (var exercice in Model.ListeExercice)
        {
            @using (Html.BeginForm("AjouterExercice", "Seance", FormMethod.Post))
            {
                <tr>
                    <td>@exercice.Nom</td>
                    <td>@Html.TextBox("positionExercice",1, new { id="positionExercice",@type = "number",style = "width:100px", step="1" })</td>
                    <td>@Html.TextBox("nombreSerie",3, new { id="nombreSerie",@type = "number",style = "width:100px", step="1" })</td>
                    <td>@Html.TextBox("nombreRepetition",10, new { id="nombreRepetition",@type = "number",style = "width:100px", step="1" })</td>
                    <td>
                        @Html.Hidden("idExercice",exercice.Id)
                        @Html.Hidden("idSeance",Model.Seance.Id)
                        <input class="ajouterButton" type="submit" value="Ajouter" />
                    </td>
                    
                </tr>
            }
        }
    </table>

</center>